*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    height: 5rem;
    background-color: rgb(151, 30, 30);
    color: white;
    line-height: 4rem;
}
.choice{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}  
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 40px;
}
.scores{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 4rem;
    font-size: 3rem;
}
#rslt{
    background-color: black;
    color: white;
    font-size: 2rem;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
}
.result{
    margin-top: 5rem;
}